{% extends 'base.html.twig' %}

{% block content %}
    <div class="breadcrumbs">
        <a href="/">Homepage</a> &raquo;
    </div>
    <h2 class="margin">CheckOut</h2>

    <div class="checkout-total">
        <div>Total</div>
        <div>${{ total | number_format(2) }}</div>
    </div>
    {{ form(form) }}
{% endblock %}



